/*
 The cover starts off not being displayed,
 with a size of 0 x 0 pixels, and "behind"
 the rest of the page (negative z-index)
*/
div#cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
/*
 When the "covering" class is added to the cover
 it is displayed, has the size set to 100%, and
 is raised to z-index 100, in front of the rest
 of the page content.
*/
div#cover.covering {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 80%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 101;
}

.overlay {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0;
}

div#refCol {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
div#refCol.covering {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.gt_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}